#screen {
    width: 60% !important;
}

#control {
    float: right;
    width: 40%;
}

#camera_control {
    background-color: skyblue;
}

#time_control {
    background-color: beige;
}

#warning {
    background-color: red;
}

.short_name {
    margin-bottom: 3px;
    margin-left: 6px;
    width: 60px;
}

.avg_name {
    margin-left: 5px;
    width: 90px;
}

.med_name {
    margin-bottom: 2px;
    width: 125px;
}

.long_name {
    margin-bottom: 2px;
    width: 240px;
}

.hidden {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity .5s, max-height .5s;
    _display: none;
}

.showed {
    max-height: 100%;
    transition: opacity .5s, max-height .5s;
    opacity: 1;
    _display: block;
}

#focus_control {
    background-color: mintcream;
}

.bad_button {
    color: gray;
}